body {
    width: 100%;
    font-family: georgia, "times new roman", times, serif;
    color: #333;
    background-color: white;
    line-height: 1;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0px;
    height: 40px;
    border-bottom: 1px solid #C0C0C0;
}

.nav-left {
    float: left;
    margin-left: 10px;
}

.new-york-logo {
    display: flex;
    position: relative;
    margin-top: 7px;
}

.nav-left>i,
.nav-left>a {
    padding: 10px;
    text-decoration: none;
}

.nav-left>i {
    font-size: 14px;
}

.nav-right {
    display: flex;
    padding-right: 1.5rem;
    font-size: 1.2rem;
    align-items: center;
}

h3 a,
h4 a {
    text-decoration: none;
    color: black;
}

h3 {
    font-weight: 700;
    font-size: 1.25rem !important;
}

.nav-right>input {
    margin-right: 10px;
}

.nav-left>a {
    font-family: arial;
    color: black;
    font-size: 15px;
    font-weight: bolder;
}

main {
    margin-top: 150px;
}

h1 {
    position: relative;
    font-size: 2.0rem;
    font-weight: 600;
    line-height: 3rem;
    font-style: italic;
    color: #121212;
    max-width: 600px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    width: 100%;
}

p a {
    color: #326891;
}

.header figure {
    width: 70%;
    margin-left: 15%;
}

figcaption {
    font-size: 0.9rem;
    line-height: 1.2rem;
    width: 80%;
    color: #666;
}

figcaption span {
    color: #888;
    font-size: 0.8rem;
}

.foreword,
.spirals {
    width: 600px;
    margin: auto;

}

.foreword>article>h3>a {
    text-decoration: underline;
}

.foreword>article>h3 {
    font-size: 14px;
    margin-bottom: 30px;
}


/* Remove Underline links Hover */

.foreword>article>h3>a:hover,
p>a:hover {
    text-decoration: none;
}


/* Underline on hover */

.nav-left>a:hover {
    text-decoration: underline;
}

.link ul li {
    list-style: none;
    display: inline;
    margin-left: -8%;
    font-size: 13px;
}

.link>ul>li:nth-child(2) {
    float: right;
    color: black;
}

div.link {
    margin-bottom: 30px;
}

.fab,
.fas,
.fas,
.far,
.far {
    color: black;
    margin-right: 12px
}

.fa-2x {
    color: #999;
}

.icon-cicle {
    background: silver;
    padding: 5px;
    border-radius: 50%;
}

.thanks {
    text-align: center;
    line-height: 2px;
    font-size: 14px;
    margin: 30px 0 30px 0;
    color: black;
    font-weight: bold;
}

.thanks>hr {
    width: 70px;
    color: rgba(211, 211, 211, 0.3);
    margin-top: 30px;
    margin-bottom: 30px;
}

.thanks h4 a {
    color: rgb(50, 104, 145);
    font-size: 15px;
}

/* inflation section */

.inflation {
   width: 720px; 
   margin-left: 15%;
   margin-top: 35px;
}

.inflation h3{
    margin-bottom: -10px;
}

 .theory-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 2fr);
    gap: 30px;
  }
b {
    font-size: 12px;
    line-height: 17px;
}
.inflation-div p {
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.inflation-div img {
    height: 170px;
    width: 220px;
    margin-bottom: -20px;
}

.inflation hr{
    margin-left: 0px;
    width: 100px;
}

.small-text {
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #666;
    font-weight: 400;
    width: 100%;
}
 
.arial {
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
} 
