body {
    width: 100%;
    font-family: Domine, georgia, "times new roman", times, serif;
    color: #333;
    background-color: white;
    line-height: 1;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0px;
    height: 40px;
    border-bottom: 1px solid #C0C0C0;
}

.nav-left {
    float: left;
    margin-left: 10px;
}

.new-york-logo {
    display: flex;
    position: relative;
    margin-top: 7px;
}

.nav-left>i,
.nav-left>a {
    padding: 10px;
}

.nav-left>i {
    font-size: 14px;
}

.nav-right {
    display: flex;
    padding-right: 1.5rem;
    font-size: 1.2rem;
    align-items: center;
}

h3 a,
h4 a {
    text-decoration: none;
    color: black;
}

.nav-right>input {
    margin-right: 10px;
    background-color: ;
}

.nav-left>a {
    font-family: arial;
    color: black;
    font-size: 15px;
    font-weight: bolder;
}

main {
    margin-top: 150px;
}

h1 {
    position: relative;
    font-size: 2.0rem;
    font-weight: 600;
    line-height: 3rem;
    font-style: italic;
    color: #121212;
    max-width: 600px;
    width: calc(100% - 40px);
    margin: 0 auto;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;

}

.header figure {
    width: 70%;
    margin-left: 15%;
}

figcaption {
    font-size : 0.9rem;
    line-height: 1.2rem;
    width: 80%;
    color: #666;
}

figcaption span {
    color: #888;
    font-size: 0.8rem;
}

.foreword,
.spirals {
    width: 40%;
    margin: 3% 0 0 30%;
    
}

.foreword>article>h3>a {
   text-decoration: underline;
}

.foreword>article>h3 {
    font-size: 14px;
    margin-bottom: 30px;
 }

.foreword>article>h3>a:hover {
   text-decoration: none;
}

.link ul li {
  list-style: none;
  display: inline;
  margin-left: -8%;
  font-size: 13px;
}

.link>ul>li:nth-child(2) {
   float: right;
   color: black;
    
}

div.link {
    margin-bottom: 30px;
}




